@model IdentitySample.Models.HumDistributionPlanItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HumDistributionPlanItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HumDistributionPlan.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumDistributionPlan.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
