@model IdentitySample.Models.HumDistributionPlan

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>План распределения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyISOCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyISOCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
