@model IdentitySample.Models.ServiceOrganization

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceOrganization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisabilityTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisabilityTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffPositions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffPositions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffPositionsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffPositionsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinanceSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinanceSource)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
