@model IEnumerable<IdentitySample.Models.Company>

@{
    ViewBag.Title = "Index";
    var usrList = ViewBag.UsrList as IEnumerable<CissaMeta.UsrInfo>;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            УСР
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OKPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAccountNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @if (item.OrgId != null)
            {
                var org = usrList.FirstOrDefault(x => x.Id == item.OrgId);
                if (org != null)
                {
                    @org.Name
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OKPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAccountNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
