
@{
    ViewBag.Title = "Справочники для вопросников";
}

<h2>Справочники для вопросников</h2>

<p>
    @Html.ActionLink("Спастика", "Index", "Spastics", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Дискинезия", "Index", "Discinesis", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Атаксия", "Index", "Atacsiums", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Эпилепсия", "Index", "Epilepcies", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("СРОКИ ДЦП", "Index", "IcpPeriods", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Причины ДЦП", "Index", "IcpReasons", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("ТЯЖЕСТЬ ДЦП", "Index", "Reference1", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Способность пользоваться предметами в быту", "Index", "Reference2", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Шкала оценки детей родителями", "Index", "Reference3", null, new { @class = "btn btn-prymary" })
</p>
<p>
    @Html.ActionLink("Шкала затруднений", "Index", "Reference4", null, new { @class = "btn btn-prymary" })
</p>
@*<p>
    @Html.ActionLink("", "Index", "", null, new { @class = "btn btn-prymary" })
</p>*@