<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Портал МКФ</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bs-datepicker/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <style>
        #bs-alert{
            z-index:2000;
            position:fixed;
            margin:0px auto;
            display:none;
            left:35%;
            right:35%;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div id="bs-alert" class="alert alert-danger">
        <strong>Ошибка:</strong> <span id="bs-alert-message"></span>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("МКФ-портал", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Открытые данные", "Index", "Search")</li>*@
                    @*<li>@Html.ActionLink("Инструкция", "Index", "Manuals")</li>*@
                    @*<li>@Html.ActionLink("О портале", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@
                    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Роли", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Пользователи", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bs-datepicker/js")
    @RenderSection("scripts", required: false)
    <script>
        function bs_alert(message) {
            $('#bs-alert-message').html(message);
            $('#bs-alert').fadeIn(300);
            setTimeout(function () {
                $('#bs-alert').fadeOut(300);
            }, 5000);
        }
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $(".bs_datepicker").datepicker({
                format: "dd.mm.yyyy",
                language: "ru",
                todayHighlight: true,
                clearBtn: true
            });
        });
    </script>
</body>
</html>
