@model IdentitySample.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Отчет о распределении полученной гуманитароной помощи</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Companies.First().Name)
        </dt>
        
        <dd>
            @if (Model.User.Companies != null && Model.User.Companies.Count > 0)
            {
                @Html.DisplayFor(model => model.User.Companies.First().Name)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
    @Html.ActionLink("Добавить распределение", "Create", "ReportItems", new { reportId = Model.Id }, null)
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().OrganizationName)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().Region)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().Address)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().CargoName)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().UnitTypeId)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().PlanedAmount)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().PlanedSum)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().FactAmount)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().FactSum)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().BalanceAmount)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().BalanceSum)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().ReserveAmount)</th>
                <th>@Html.DisplayNameFor(model => model.ReportItems.First().ReserveSum)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CargoName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.UnitTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.PlanedAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.PlanedSum)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FactAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FactSum)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.BalanceAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.BalanceSum)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ReserveAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ReserveSum)
                    </td>
                    <td>
                        @Html.ActionLink("удалить", "Delete", "ReportItems", new { id = item.Id }, null) | @Html.ActionLink("изменить", "Edit", "ReportItems", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
