@model IEnumerable<IdentitySample.Models.Report>

@{

    var stateColors = new Dictionary<int, string>
    {
        { 1, "lightblue" },
        { 2, "lightgreen" },
        { 3, "red" },
        { 0, "" }
    };
}

<h4>Связанные отчеты о получателях гуманитарной помощи</h4>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a href="@Url.Action("Details", new { id = item.Id })" title="Открыть">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    @if (item.State == null || item.State.Code == 3)
                    {
                        <a href="@Url.Action("Edit", new { id = item.Id })" title="Редактировать">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a> 
                    <a href = "@Url.Action("Delete", new { id = item.Id })" title = "Удалить" >
                           <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    }*@
                    @Html.ActionLink("просмотр", "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quarter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="background-color:@stateColors[item.State != null ? item.State.Code : 0]">
                    @if (item.State != null)
                    {
                        @Html.DisplayFor(modelItem => item.State.Name)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
