<h2>Страница пользователя</h2>
<p>
    @Html.ActionLink("Информация о пациентах", "Index", "Patients", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("АНКЕТА ДЛЯ ОЦЕНКИ АКТИВНОСТИ И СПОСОБНОСТИ УЧАСТИЯ РЕБЕНКА", "Index", "ParentCases", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Вопросник МКФ", "Index", "Questions", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("ИПР", "Index", "IPRs", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Справочник реабилитационных  услуг", "Index", "ServiceTypes", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("База данных организаций – реестр реабилитационных  услуг", "Index", "ServiceOrganizations", null, new { @class = "btn btn-primary" })
</p>
<p>
    <h4>Справочник для вопросников:</h4>
    <h3>ФУНКЦИИ ОРГАНИЗМА</h3>
    @Html.ActionLink("Коды", "Index", "Code1", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов", "Index", "Answer1Value", null, new { @class = "btn btn-primary" })
    <h3>СТРУКТУРЫ ОРГАНИЗМА</h3>
    @Html.ActionLink("Коды", "Index", "Code2", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов 1", "Index", "Answer2Value1", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов 2", "Index", "Answer2Value2", null, new { @class = "btn btn-primary" })
    <h3>АКТИВНОСТЬ И УЧАСТИЕ</h3>
    @Html.ActionLink("Коды", "Index", "Code3", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов 1", "Index", "Answer3Value1", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов 2", "Index", "Answer3Value2", null, new { @class = "btn btn-primary" })
    <h3>ФАКТОРЫ ОКРУЖАЮЩЕЙ СРЕДЫ</h3>
    @Html.ActionLink("Коды", "Index", "Code4", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Виды ответов", "Index", "Answer4Value", null, new { @class = "btn btn-primary" })
    <h3>Возраста</h3>
    @Html.ActionLink("Тип возраста", "Index", "Cases", null, new { @class = "btn btn-primary" })
</p>