@model IdentitySample.Models.ParentCase

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParentCase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_4.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_4.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_5.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_5.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_6.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_6.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_7.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_7.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_8.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_8.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_1_9.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_1_9.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_4.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_4.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_5.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_5.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_6.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_6.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_7.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_7.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_2_8.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_2_8.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_3_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_3_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_3_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_3_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_3_3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_3_3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_4_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_4_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_4_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_4_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_4_3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_4_3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_4_4.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_4_4.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_4_5.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_4_5.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_5_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_5_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_5_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_5_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_4.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_4.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_5.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_5.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_6.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_6.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_7.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_7.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_8.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_8.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference4_6_9.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference4_6_9.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilledPlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilledPlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilledDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
