@model IdentitySample.Models.Case

@{
    ViewBag.Title = "Тип возраста";
}

<h2>Тип возраста</h2>

<div>
    <h4>Возраст</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<h3>Коды:</h3>
@Html.ActionLink("Добавть код", "AddCode", new { caseId = Model.Id })
<ul>
    @foreach (var item in Model.CodeCaseBindings)
    {
        <li>@item.Code @Html.ActionLink("удалить", "DeleteBinding", new { bindingId = item.Id })</li>
    }
</ul>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Назад к списку", "Index")
</p>
